@import '../../../styles/colors';
.link {
  padding: 12px 30px;
  background-color: $light-blue;
  border-radius: .2rem;
  display: inline-block;
  color: #ffffff;
  font-size: .9rem;
  font-family: sans-serif;
  cursor: pointer;
  text-decoration: none;
}
.secondaryLink {
  @extend .link;
  color: $darker-blue;
  background-color: $light-grey
}