@import './colors';

.c-card-corner {
  min-height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size:
          100px 150px,
          100px 150px;
  background-position:
          0 0,
          0 150px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fafbff+0,fafbff+50,1ca0f2+50,2186f2+76,1ca0f2+76,207ce5+100 */
  background: rgb(250,251,255); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgb(250,251,255) 0%, rgb(250,251,255) 75%, rgb(28,160,242) 75%, rgb(33,134,242) 87%, rgb(28,160,242) 87%, rgb(32,124,229) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgb(250,251,255) 0%,rgb(250,251,255) 75%,rgb(28,160,242) 75%,rgb(33,134,242) 87%,rgb(28,160,242) 87%,rgb(32,124,229) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgb(250,251,255) 0%,rgb(250,251,255) 75%,rgb(28,160,242) 75%,rgb(33,134,242) 87%,rgb(28,160,242) 87%,rgb(32,124,229) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafbff', endColorstr='#207ce5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.c-card {
  /*border: 1px solid #eeeeee;*/
  margin: 0 auto;
  width: 300px;
  padding: 2rem;
}
body {
  background-color: $light-grey;
}
