@import '../../styles/spacing';
.header {
  padding: 15px 0;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  text-align: left;
}
.headerContent {
  display: flex;
  @include getHorizontalMargin();
}