.arrows {
  position: absolute;
  top: 20px;
  width: 100%;
  height: 500px;
  z-index: -1;
}
.mask {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 200px, 0 900px);
}